body{
    background-color: #000000;
}
.container-page{
    height: 90vh;
    width: 100%;
    margin-top: 2vh;
    position: relative;
    background-color: #a52a2a;
    overflow: hidden;
}
.barra-vida
{
    background-color: #ff0000;
}
.bt_hud{
    position: absolute;
}

.animateChar{
    animation-name: animateChar_01;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

.damage{
    animation-name: Damage_anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.card_select{
    position: absolute;  
    background-color: #FFF;
    border-radius: 2vh;
    transition: 2s;
}
.card_select :hover{
    transform: rotate(2deg);
}
.aviso01{
    background-color: black;
    opacity: 0.7;
    box-shadow: 0px 0px 40px 20px black;
    border-radius: 2vh;
    color: #FFF;
    padding: 2vh;
    overflow-x: hidden;
    overflow: auto
}
.player-aviso
{
    color: #8181ff;
}
.adv-aviso{
    color: #ff0000;
}

.title_card{
    background-color: #ff0000;
    border-radius: 2vh;
    color: #FFF;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 2vh;
    font-size: 3vh;
}
.cardButtonStatus
{
    background-color: #fcfc8a;
    border-radius: 3vh;
    position: fixed;
    z-index: 100;
}
.Close_card_b
{
    color: #ff0000;
}
#Personagem_Card h1 {
    color: #8181ff;
    margin-left: 40vh;
    margin-top: -4vh;
}
.image_Card{
    background-size: 100%;
    margin-top: 2vh;
    margin-left: 38vh;
}

@keyframes Damage_anim{
    0% { filter: brightness(200%); opacity: 0.8;}
    50%{ filter: brightness(160%); opacity: 0.6}
    60%{ filter: brightness(130%);opacity: 0.3}
    70%{ filter: brightness(120%);opacity: 0.1}
    100%{ filter: brightness(100%); opacity: 1}
}

@keyframes animateChar_01 {
    0% {transform: scaleX(1)}
    50% {transform: scaleX(1.2)}
    100%{transform: scaleX(1)}
}

#teste{
    background-color: #ffff00;
    height: 10vh;
    width: 10vh;
    text-align: center;
    margin-top: 20vh;
    margin-left: 188vh;

    position: absolute;
}

#warning-base{visibility: hidden; height: 0; background-color: #ff0000;}

@media screen and (max-width: 430px) and (max-height: 930px) {
    #conainer-base{visibility: hidden; height: 0; background-color: #ff0000;}
    #warning-base{visibility:visible; height: 90vh; background-color: #ffff00; text-align: center;}    
  }